streamlit==1.25.0
transformers==4.43.0
langdetect==1.0.9
language-tool-python==2.10.2
pygame==2.6.1
SpeechRecognition==3.10.0
easyocr==1.6.2
gTTS==2.3.2
deep-translator==1.10.1
torch==2.3.1
tensorflow==2.14.0
